<div *ngIf="voyageur">
	<div class="container">
		<div class="row">
			<div class="col-md-7 mx-auto">
				<form>
					<div class="form-group">
						<label for="nom">nom</label>
						<input
							type="text"
							class="form-control"
							name="nom"
							id="nom"
							placeholder="nom"
							[(ngModel)]="voyageur.nom"
						/>
					</div>
					<div class="form-group">
						<label for="prenom">prenom</label>
						<input
							type="text"
							class="form-control"
							name="prenom"
							id="prenom"
							placeholder="prenom"
							[(ngModel)]="voyageur.prenom"
						/>
					</div>
					<div class="form-group">
						<label for="age">age</label>
						<input
							type="number"
							class="form-control"
							name="age"
							id="age"
							placeholder="age"
							[(ngModel)]="voyageur.age"
						/>
					</div>
					<div class="form-group">
						<label for="sexe">sexe</label>
						<input
							type="text"
							class="form-control"
							name="sexe"
							id="sexe"
							placeholder="sexe"
							[(ngModel)]="voyageur.sexe"
						/>
					</div>

					<button type="submit" class="btn btn-primary" (click)="update()">update</button>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-7 mx-auto">
			<h3>Appartement favoris</h3>
			<hr />
			<table class="table">
				<thead>
				<tr>
					<th>id</th>
					<th>adresse</th>
					<th>chambres</th>
					<th>salles de bain</th>
					<th>prix(nuit)</th>
					<th>etat</th>
					<th>personnes max</th>
				</tr>
				</thead>
				<tbody *ngIf="voyageur">
				<tr *ngFor="let appartement of voyageur.appartement_fav">
					<td>{{ appartement.id_Appartement }}</td>
					<td>{{ appartement.adresse }}</td>
					<td>{{ appartement.nbr_chambres }}</td>
					<td>{{ appartement.nbr_salle_bains}}</td>
					<td>{{ appartement.prix_nuit }}</td>
					<td>{{ appartement.reserve }}</td>
					<td>{{ appartement.nbrPersonne_max }}</td>

					<td>
						<button class="btn btn-danger" (click)="rmAptFav(appartement)">
							delete
						</button>
					</td>
					<td>
						<a class="btn btn-info" (click)="rentApt(appartement)">
							rent </a>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>