<div *ngIf="voyageur">
	<div class="container">
		<div class="row">
			<div class="col-md-7 mx-auto">
				<form>
					<div class="form-group">
						<label for="nom">nom</label>
						<input
							type="text"
							class="form-control"
							name="nom"
							id="nom"
							placeholder="nom"
							[(ngModel)]="voyageur.nom"
						/>
					</div>
					<div class="form-group">
						<label for="prenom">prenom</label>
						<input
							type="text"
							class="form-control"
							name="prenom"
							id="prenom"
							placeholder="prenom"
							[(ngModel)]="voyageur.prenom"
						/>
					</div>
					<div class="form-group">
						<label for="age">age</label>
						<input
							type="number"
							class="form-control"
							name="age"
							id="age"
							placeholder="age"
							[(ngModel)]="voyageur.age"
						/>
					</div>
					<div class="form-group">
						<label for="sexe">sexe</label>
						<input
							type="text"
							class="form-control"
							name="sexe"
							id="sexe"
							placeholder="sexe"
							[(ngModel)]="voyageur.sexe"
						/>
					</div>

					<button type="submit" class="btn btn-primary" (click)="update()">update</button>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-7 mx-auto">
			<h3>Appartements favoris</h3>
			<hr />
			<table class="table">
				<thead>
				<tr>
					<th>adresse</th>
					<th>chambres</th>
					<th>salles de bain</th>
					<th>prix(nuit)</th>
					<th>favoris</th>
				</tr>
				</thead>
				<tbody *ngIf="voyageur">
				<tr *ngFor="let appartement of voyageur.appartement_fav">
					<td>{{ appartement.adresse }}</td>
					<td>{{ appartement.nbr_chambres }}</td>
					<td>{{ appartement.nbr_salle_bains}}</td>
					<td>{{ appartement.prix_nuit }}</td>

					<td>
						<button class="btn btn-info" (click)="aptFav(appartement)">
							favoris
						</button>
					</td>

				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-7 mx-auto">
			<h3>Appartements loués</h3>
			<hr />
			<table class="table">
				<thead>
				<tr>
					<th>adresse</th>
					<th>chambres</th>
					<th>salles de bain</th>
					<th>prix(nuit)</th>
					<th>quitter</th>
				</tr>
				</thead>
				<tbody *ngIf="voyageur">
				<tr *ngFor="let appartement of voyageur.appartement_loue">
					<td>{{ appartement.adresse }}</td>
					<td>{{ appartement.nbr_chambres }}</td>
					<td>{{ appartement.nbr_salle_bains}}</td>
					<td>{{ appartement.prix_nuit }}</td>

					<td>
						<button class="btn btn-danger" (click)="rentApt(appartement)">
							leave
						</button>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>