<div class="container">
	<div class="row">
		<div class="col-md-7 mx-auto">
            <h3>ajouter un appartement</h3>
            
            <app-form-add-appartement (addAppartement)="add($event)"></app-form-add-appartement>
			<hr />

			<h2>list appartements</h2>
			<table class="table">
				<thead>
					<tr>
						<th>adresse</th>
						<th>chambres</th>
						<th>salles de bain</th>
						<th>prix(nuit)</th>
						<th>voyageur</th>
						<th>favoris</th>
						<th>louer</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let appartement of listAppartements">
						<td>{{ appartement.adresse }}</td>
						<td>{{ appartement.nbr_chambres }}</td>
						<td>{{ appartement.nbr_salle_bains}}</td>
                        <td>{{ appartement.prix_nuit }}</td>
						<td>

							<div class="form-group">
								<select class="custom-select" id="voyageur" [(ngModel)]="appartement.voyageur" required>
									<option  *ngFor="let voyageur of listVoyageurs" [ngValue]="voyageur">{{voyageur.nom}} {{voyageur.prenom}}</option>
								</select>
							</div>
						</td>
						<td>
							<button class="btn btn-info" (click)="aptFav(appartement)">
								favoris
							</button>
						</td>
						<td>
							<button *ngIf="appartement.reserve==false" class="btn btn-success" (click)="rentApt(appartement)">
								rent
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
