<div class="container">
	<div class="row">
		<div class="col-md-7 mx-auto">
            <h3>ajouter un appartement</h3>
            
            <app-form-add-appartement (addAppartement)="add($event)"></app-form-add-appartement>
			<hr />

			<h2>list appartements</h2>
			<table class="table">
				<thead>
					<tr>
						<th>adresse</th>
						<th>chambres</th>
						<th>salles de bain</th>
						<th>prix(nuit)</th>
						<th>etat</th>
						<th>personnes max</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let appartement of listAppartements">
						<td>{{ appartement.adresse }}</td>
						<td>{{ appartement.nbr_chambres }}</td>
						<td>{{ appartement.nbr_salle_bains}}</td>
                        <td>{{ appartement.prix_nuit }}</td>
                        <td>{{ appartement.reserve }}</td>
                        <td>{{ appartement.nbrPersonne_max }}</td>
						<td>
							<button class="btn btn-danger" (click)="deleteAppartement(appartement)">
								delete
							</button>
						</td>
						<td>
							<a class="btn btn-info" routerLink="/appartement_fav/{{ appartement.id_Appartement }}">
								update</a
							>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
