<app-profil-voyageur [voyageur]="hote"></app-profil-voyageur>
<div class="container">
    <div class="row">
        <div class="col-md-7 mx-auto">
            <h3>Vos appartements</h3>
            <hr />
            <table class="table">
                <thead>
                <tr>
                    <th>adresse</th>
                    <th>chambres</th>
                    <th>salles de bain</th>
                    <th>prix(nuit)</th>
                    <th>supprimer</th>
                </tr>
                </thead>
                <tbody *ngIf="hote">
                <tr *ngFor="let appartement of hote.appartements">
                    <td>{{ appartement.adresse }}</td>
                    <td>{{ appartement.nbr_chambres }}</td>
                    <td>{{ appartement.nbr_salle_bains}}</td>
                    <td>{{ appartement.prix_nuit }}</td>
                    <td>
                        <button class="btn btn-danger" (click)="deleteApt(appartement)">
                            delete
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>